<p> MAC pairs </p>

<form role="form" name="xForm" class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <input class="input" placeholder="Publisher MAC:" ng-model="pub_mac" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <input class="input" placeholder="Subscriber MAC:" ng-model="sub_mac" />
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <button ng-click="macparSlt();" class="button find">Find</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <button ng-click="macparUpd();" class="button update">Update</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <button ng-click="macparIns();" class="button add">Add</button>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <button ng-click="macparDel();" class="button delete">Delete</button>
            </div>
        </div>   
    </div>
</form>

<div class="col-md-12" ng-show="result.length > 0">
    <table class="table table-striped table-bordered">
        <thead>
        <th>Pub MAC&nbsp;</th>
        <th>Sub MAC&nbsp;</th>
        </thead>
        <tbody>
        <tr ng-repeat="item in result">
            <td>{{item.pub_mac}}</td>
            <td>{{item.sub_mac}}</td>
        </tr>
        </tbody>
    </table>
</div>
    <br/>
    <div>
        {{arpn_macs}}
    </div>

<p> result {{result}} </p>
<p> error {{error}} </p>
