<p> User </p>

<form role="form" name="xForm" class="form-horizontal">
<table cellspacing="5" cellpadding="5" width="100%">
    <tr>
        <td>
            <label for="nev"> User name: </label>
            <input id="nev" ng-model="u_nev" />
        </td>
        <td>
        	<label for="xun"> User id: </label>
        	<input id="xun" ng-model="u_xun" />
        </td>
        <td>
        	<label for="xpw"> User password: </label>
        	<input id="xpw" ng-model="u_xpw" />
        </td>
    </tr>
    <tr>
        <td>
            <button ng-click="userSlt();" class="btn btn-primary">Find</button>
        </td>
        <td> 
            <button ng-click="userUpd();" class="btn btn-warning">Update</button>
        </td>
        <td>
            <button ng-click="userIns();" class="btn btn-warning">Add</button>
        </td>
    </tr>
</table>
</form>

<p> result {{result}} </p>
<p> error {{error}} </p>
